@model List<Recipe>
@{
    ViewData["Title"] = "Add Recipes";
}

<a asp-controller="Recipe" asp-action="Add">Add New Recipe</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Author</th>
            <th>Description</th>
            <th>Image Path</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model)
        {
            <tr>
                <td>@recipe.Name</td>
                <td>@recipe.Date</td>
                <td>@recipe.Author</td>
                <td>@recipe.Description</td>
                <td>@recipe.ImagePath</td>
                <td>
                    <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@recipe.RecipeId"
                        asp-route-slug="@recipe.Slug">
                        Edit
                    </a>
                    <a asp-controller="Recipe" asp-action="Delete" asp-route-id="@recipe.RecipeId"
                        asp-route-slug="@recipe.Slug">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>